/* vetMaps.css */

.box-main {
  display: flex;
  height: 86vh;
}

.box-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box-map-container {
  position: relative;
  height: 88vh;
}

.map-container {
  height: 100%;
  width: 100%;
}
