.upload-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8px;
}

.upload-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #086928;
  margin-bottom: 8px;
}

.upload-image-container {
  position: relative !important;
  width: 150px !important;
  height: 150px !important;
  border-radius: 8px !important;
  overflow: hidden !important;
  border: 1px solid #ddd !important;
}

.upload-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.remove-button {
  position: absolute !important;
  top: 5px !important;
  right: 5px !important;
  background-color: rgba(128, 128, 128, 0.76) !important;
  color: white !important;
  border-radius: 50% !important;
}
