/* userPetInfo.css */

.container-custom {
  margin-top: 50px;
}

.box-container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.no-pets-text {
  color: var(--mui-color-text-secondary);
  font-size: 1.25rem;
}

.add-pet-button {
  margin-top: 16px;
}

.image {
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.overlay-button {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white !important ;
}

.qr-code-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lost-pet-button {
  width: 100%;
  background-color: #ffca63 !important;
}

.lost-pet-button:hover {
  background-color: #f7b125 !important;
}

.lost-pet-delete-button {
  background-color: #ffca63 !important;
}

.lost-pet-delete-button:hover {
  background-color: #f7b125 !important;
}

.lost-pet-delete-icon {
  color: #2b2a2a;
}

.lost-pet-edit-button {
  background-color: #ffca63 !important;
}

.lost-pet-edit-button:hover {
  background-color: #f7b125 !important;
}

.lost-pet-edit-icon {
  color: #2b2a2a;
}

.lost-pet-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Contenedor de los botones "Ver QR" y "Ver chapita" */
.lost-pet-row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

/* Botones "Ver QR" y "Ver chapita" */
.lost-pet-half-button {
  width: 48%;
}

.lost-pet-cancel-button {
  background-color: #ffcb631f !important;
  color: #ffca63 !important;
  border: 2px solid #ffca63 !important;
  cursor: pointer !important;
  font-weight: bold !important;
  box-shadow: none !important;
}

.lost-pet-cancel-button:hover {
  background-color: #fcbe4131 !important;
}
